# MacOS files
.DS_Store

# Intelli-J Files
.idea/
cmake-build-debug/

# Make Related files
CMakeCache.txt
CMakeFiles/
Release/
bin/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
